h1 {
  text-align:center;
  background: pink;
  background-size: cover;
  color: white;
  font-family: Helvetica;
  font-size: 70px;
  }

h2 {
  text-align: center;
}

p {
  text-align:center;
  background: pink;
  background-size: cover;
  color: white;
  font-family: Helvetica;
  font-size: 70px
}

img {
  height: 450px;
  width: 300px;
  background-size: cover;
  background-position: center;
  border: pink;
}

.center {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}
